# Machine specific environment variables
#
# Use it from the repository root like:
#
#     . .\load_env.ps1; llama-server
#
# Note: These variables can be overwritten with
# command line options (e.g. --models-preset).

# llama.cpp runtime configuration
#
# @see https://github.com/ggml-org/llama.cpp/blob/master/tools/server/README.md
LLAMA_ARG_HOST=0.0.0.0
LLAMA_ARG_PORT=8080
LLAMA_ARG_MODELS_DIR=D:\AI\LLM\gguf
LLAMA_ARG_MODELS_PRESET=presets\models_24GB_VRAM.ini

# CUDA driver configration
#
# @see https://docs.nvidia.com/cuda/cuda-programming-guide/05-appendices/environment-variables.html
CUDA_DEVICE_ORDER=PCI_BUS_ID
CUDA_SCALE_LAUNCH_QUEUES=4x
